* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1150px;
  margin: 0 auto;
  background-color: #141414;
  color: lightsalmon;
  font-family: sans-serif;
}

header {
  position: fixed;
  width: 100%;
  max-width: 1150px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightsalmon;
  color: #141414;
}

main {
  background: papayawhip;
  padding: 50px 20px;
}

main article {
  margin: 50px 0;
}

p {
  color: #141414;
}


