$primary-color: lightsalmon;
$secondary-color: papayawhip;
$dark-color: #141414;
$font-primary: sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1150px;
    margin: 0 auto;
    background-color: $dark-color;
    color: $primary-color;
    font-family: $font-primary;
}

header {
    position: fixed;
    width: 100%;
    max-width: 1150px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $primary-color;
    color: $dark-color;
}

main {
    background: $secondary-color;
    padding: 50px 20px ;
    article {
        margin: 50px 0;
    }
}

p {
    color: $dark-color;
}